<!DOCTYPE html>
<html lang="en">
{% extends 'menu.html' %}
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body>
    <pagename>
        {% block pagename %}
        <h2>Настольные игры</h2>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
        {{ block.super }}
        {% endblock %}
    </menu>

    <content>
        {% block content %}
        <ul>
            {% for game in name_game %}
                <li>{{ game }}
                    <button>Купить</button>
            {% endfor %}
        </ul>
        {% endblock %}
    </content>

</body>
</html>